.email-form {
  width: 50% !important;
  margin: 0 auto;
  margin-top: 200px;
  font-size: 30px;
  padding: 30px;
}
.form-email-field {
  padding: 20px;
  font-size: 20px;
}
.reset-header {
  text-align: center;
  position: fixed;
  top: 100px;
  left: 42%;
}
